<!DOCTYPE html>
<html>
    <head>
        <title>Conservative Truth</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/flag.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/horse.css') }}">
        <meta property="og:url" content="http://www.conservativetruth.net"/>
        <meta property="og:title" content="Conservative Truth"/>
        <meta property="og:description" content="taking on the liberal media to save our country"/>
        <meta property="og:image" content="{{url_for('static', filename='images/flag.jpg')}}">
        <meta property="og:type" content="website"/>
    </head>

    <body>
        <div class="top-text">
            <h1>hahahahaha you just got</h1>
            <h1>HORSE DICKED</h1>
        </div>

        <div class="bottom-text">
            <h1>motherfucker!</h1>
        </div>
    </body>
</html>